
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Honeymoon Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
</head>
<body>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <!--Top row-->
            <div class="row">

                <div class="col-md-4 left">
                    <img class="img-responsive" src="http://placehold.it/300x160" />
                </div>
                <div class="col-md-4 center">
                    <img class="img-responsive" src="http://placehold.it/300x160" />
                </div>
                <div class="col-md-4 right">
                    <img class="img-responsive" src="http://placehold.it/300x160" />
                </div>


            </div>
            <!--Midden row-->
            <div class="row">

                <div class="col-md-12 midrow">
                    <div>Korte Hoogstraat 4, 3011GL Rotterdam  <b>email</b> info@honeymoonshop.nl <b>tel</b>(010) 412 61 43 <b>whatsapp</b>(06) 25 19 99 27</div>
                    <div><strong>Openingstijden MA</strong> 12.00 - 17.30 <b>DI t/m VR</b> 09.30 - 17.30 <b>ZA</b> 09.30 - 17.30 <b>ZO</b> 11.00 - 17.00</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 midcol">
                    <img class="img-responsive" src="~/images/indexa.png" alt="logo grand wedding show" />
                    <img class="img-responsive" src="~/images/brand.gif" alt="logo cbw" />
                </div>
                <div class="col-md-4"></div>
            </div>



            <!--Bottom row-->
            <div class="row">

                <div class="col-md-4">

                    <p class="style_p_h3">Winkel</p>
                    <ul>
                        <li><a>Over de Honeymoon shop</a></li>
                        <li><a>Servicepunten</a></li>
                        <li><a>Routebeschrijving</a></li>
                        <li><a>Beurzen en evenementen</a></li>
                        <li><a>Vacatures</a></li>
                        <li><a>Verkoopvoorwaarden</a></li>
                        <li><a>CBW erkend</a></li>
                        <li><a>Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="style_p_h3">Service</p>
                    <ul>
                        <li><a>Beoordeling</a></li>
                        <li><a>Dressfinder</a></li>
                        <li><a>Gratis trouwmagazine</a></li>
                        <li><a>Nieuwsbrief</a></li>
                        <li><a>Vell gestelde vragen</a></li>
                        <li><a>CWB erkend</a></li>
                        <li><a>Reinigen van je trouwjurk</a></li>
                        <li><a>10 reden om je afspraak te maken</a></li>
                        <li><a>The Perfect Match</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="style_p_h3">Acties</p>
                    <ul>
                        <li><a>The Grand Wedding Show</a></li>
                        <li><a>Summer Sale</a></li>
                        <li><a>Trouwjurken onder de 1000 euro</a></li>
                        <li><a>Trouwjurken voor de volslanke bruid</a></li>
                    </ul>
                </div>

            </div>

        </div>

    </footer>

</body>
</html>